@import "@/assets/scss/colors.scss";
@import "@/assets/scss/mixins.scss";
@import "@/assets/scss/responsive.scss";
#column-modal-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  padding-top: 4rem;
  justify-content: center;
  position: absolute;
  .column-modal {
    width: 400px;
    height: 300px;
    background-color: $white;
    box-shadow: 0 3px 10px rgba($color: #757575, $alpha: 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .modal-name{
        font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: $secondary;
    }
    .column-input-container{
        width: 80%;
        .input-group{
            display: flex;
            flex-direction: column;
            label{
                font-size: 14px;
                color: $secondary;
                margin-bottom: 0.3rem;
            }
            input,select{
                height: 35px;
                outline: none;
                border: 2px solid $border;
                border-radius: 5px;
                padding-left:1rem ;
                
            }
            input{
                margin-bottom: 1rem;
            }
            
        }
        
    }
    .create-error{
        color: $danger;
        font-size: 14px;
    }
    .modal-button-group {
        display: flex;
        width: 80%;
        justify-content: center;
        button {
          height: 35px;
          width: 85px;
          border: none;
          outline: none;
          border-radius: 15px;
          color: $secondary;
          cursor: pointer;
          &:first-child {
            background-color: $bground;
            margin-right: 1rem;
            transition: 0.2s ease;
            &:hover {
              background-color: $bgroundHover;
              color: white;
            }
          }
          &:last-child {
            background-color: $primary;
            color: $white;
            transition: 0.2s ease;
  
            &:hover {
              background-color: $primaryHover;
            }
          }
        }
      }
  }
}
